<header>

<nav class="navbar">

<div class="logo">
<a href="/">AI Directory</a>
</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>
<li><a href="/tools">Tools</a></li>
<li><a href="/trending">Trending</a></li>
<li><a href="/submit">Submit</a></li>
<li><a href="/about">About</a></li>

</ul>

</nav>

</header>

